fastapi
uvicorn[standard]

python-multipart
python-dotenv

opencv-python
numpy
pillow

easyocr

torch
torchvision

moviepy
ffmpeg-python

pydantic
requests
yt-dlp
playwright
curl-cffi

google-generativeai
openai

argostranslate

rapidfuzz
langdetect
